jupyterlab
jupyter
pandas
numpy
matplotlib
seaborn==0.13.2
torch
torchvision
torchaudio
transformers
huggingface_hub
timm
pytorch-lightning
scikit-learn
kaggle
mlflow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib